<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/img/logo/logo.png")" rel="icon" />
    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/fonts.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/sidebar.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/app.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/aos/dist/css/aos.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/sweetalert2/dist/css/sweetalert2.css")" rel="stylesheet" />
</head>

<body id="page-up" ng-app>
    @RenderBody()
</body>

<script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
<script src="@Url.Content("~/lib/jquery/dist/jquery.easing.js")"></script>
<script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")"></script>
<script src="@Url.Content("~/js/scrolling-nav.js")"></script>
<script src="@Url.Content("~/lib/angular/dist/angular.js")"></script>
<script src="@Url.Content("~/lib/aos/dist/js/aos.js")"></script>
<script src="@Url.Content("~/lib/gsap/dist/gsap.js")"></script>
<script src="@Url.Content("~/lib/sweetalert2/dist/js/sweetalert2.js")"></script>
<script src="@Url.Content("~/js/app.js")"></script>

</html>
